---
layout: archive
---

{{ content }}
I am a graduate student at the University of Zanjan. I am collaborating with Dr. Sadoon Azizi at the University of Kurdistan. 
My primary focus is on the function placement problem in serverless computing environments. I intend to use reinforcement and deep learning methods for scheduling and resource management problems in the cloud. 

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
